# Byte-compiled / optimized / DLL files
__pycache__/
builds/
build/
dist/
*.py[cod]
*$py.class
*.code-workspace

# C extensions
*.so
# Backup for simulations
*.bk0

*.db
*.db-journal
*.db-shm
*.db-wal
*.log